<!DOCTYPE html>
<div class="container" scrolly-scroll>
    <div class="jumbotron home">
        <h1>GFT</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>Job info</p>
                <dl class="dl-horizontal">
                    <dt>Company:</dt>
                    <dd>GFT Technologies SE</dd>
                    <dt>Job position:</dt>
                    <dd>Junior software developer</dd>
                    <dt>Location:</dt>
                    <dd>Sant Cugat del Vallès, Barcelona</dd>
                    <dt>Time at this job:</dt>
                    <dd>July 2015 - Actual job</dd>
                    <dt>Job description:</dt>
                    <dd>Developing software for different clients, like Deutsche Bank or Barclays. Often working with an Agile Methodology with people arround the world. Constantly involved in new formation, like AppVerse or other technologies.</dd>
                </dl>
                <p>Job rating</p>
                <dl class="dl-horizontal">
                    <dt>General rating:</dt>
                    <dd>
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>

                    </dd>

                    <dt>Motivation rating:</dt>
                    <dd>
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </dd>

                    <dt>Food rating:</dt>
                    <dd>
                        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                    </dd>

                    <dt>Formation rating:</dt>
                    <dd>
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                    </dd>

                    <dt>Comodity rating:</dt>
                    <dd>
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </dd>

                    <dt>Salary rating:</dt>
                    <dd>
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                    </dd>

                    <dt>Working ambient:</dt>
                    <dd>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </dd>

                    <dt>Recomended?</dt>
                    <dd><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="text-center">
    <p><b> Oriol Albareda portfolio. </b></p>
     <p>2015 - <a href="mailto:oriolalbareda@gmail.com">OriolAlbareda@gmail.com</a></p>
  </div>
      <div class="text-center col-md-4 col-md-offset-4">

        <ul class="list-inline">
            <li><a angular-ripple href="https://github.com/uripro1">Github</a>
            </li>
            <li><a angular-ripple href="#">Twitter</a>
            </li>
            <li><a angular-ripple href="http://facebook.com/urisntk">Facebook</a>
            </li>
            <li><a angular-ripple href="https://es.linkedin.com/pub/oriol-albareda-comino/104/284/865">LinkedIn</a>
            </li>
        </ul>
    </div>
</div>
