<!DOCTYPE html>
<div class="container" scrolly-scroll>
 <div class="jumbotron home">
    <h1>Oriol Albareda Portfolio</h1>
    <div class="row">
        <div class="col-lg-8">
            <p>
                Hi, I'm Oriol Albareda, Software developer. I mainly develop web applications, but I know some languages and some technologies. My favorite language is Javascript, I use NodeJS, AngularJS and AppVerse as frameworks.
            </p>
        </div>
        <div class="col-lg-4">
            <p><img src="/styles/images/me.jpg" class="img-responsive img-thumbnail" /></p>
        </div>
        <div class="col-lg-12">
        <!-- secciones -->
            <accordion close-others="oneAtATime">
                <accordion-group heading="Academic life">
                    <blockquote>
                        <p>Computer system management Professional Training</p>
                        <footer>2008-2010 <cite>INS Puig Castellar</cite></footer>
                    </blockquote>

                    <blockquote>
                        <p>Administration of network systems Professional Training</p>
                        <footer>2011-2013 <cite>INS Puig Castellar</cite></footer>
                    </blockquote>

                    <blockquote>
                        <p>Multiplatform application development Professional Training</p>
                        <footer>2014-2015 <cite>INS Puig Castellar</cite></footer>
                    </blockquote>

                    <blockquote>
                        <p>COBOL/JCL training course</p>
                        <footer>2015 <cite>Arelance/Accenture</cite></footer>
                    </blockquote>

                    <blockquote>
                        <p>Java SE &amp; EE course</p>
                        <footer>2015 <cite>GFT Technologies SE</cite></footer>
                    </blockquote>
                </accordion-group>

                <accordion-group heading="Languages">
                    <p>Spoken Languages:</p>
                    <dl class="dl-horizontal">
                        <dt>English</dt>
                        <dd>Medium</dd>

                        <dt>Spanish</dt>
                        <dd>Native</dd>

                        <dt>Catalan</dt>
                        <dd>Native</dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <p>Programing/Scripting Languages:</p>
                        <dt>Javascript</dt>
                        <dd>Medium</dd>

                        <dt>Java</dt>
                        <dd>Medium</dd>

                        <dt>PHP</dt>
                        <dd>Low</dd>

                        <dt>Ruby</dt>
                        <dd>Low</dd>

                        <dt>Python</dt>
                        <dd>Low</dd>

                        <dt>SQL</dt>
                        <dd>Low</dd>

                        <dt>HTML</dt>
                        <dd>High</dd>

                        <dt>Bash</dt>
                        <dd>Medium</dd>

                        <dt>COBOL/JCL</dt>
                        <dd>Low</dd>
                    </dl>
                </accordion-group>


                <accordion-group heading="Methodologies and tools">
                    <p>Methodologies</p>
                    <dl class="dl-horizontal">
                        <dt>SCRUM/LEAN</dt>
                        <dd>Medium</dd>

                        <dt>Cascade/Classic</dt>
                        <dd>Medium</dd>

                        <dt>Code and fix</dt>
                        <dd>Low</dd>
                    </dl>
                    <p>Tools</p>
                    <dl class="dl-horizontal">
                        <dt>AppVerse</dt>
                        <dd>Low/Medium</dd>

                        <dt>Grunt</dt>
                        <dd>Low</dd>

                        <dt>Bower</dt>
                        <dd>Low</dd>

                        <dt>NPM</dt>
                        <dd>Low</dd>

                        <dt>Yeoman</dt>
                        <dd>Low</dd>

                        <dt>Maven</dt>
                        <dd>Medium</dd>

                        <dt>Composer</dt>
                        <dd>Low</dd>

                        <dt>JIRA</dt>
                        <dd>Low</dd>

                        <dt>Kanban</dt>
                        <dd>Medium</dd>
                    </dl>
                </accordion-group>

                <accordion-group heading="Professional life">
                    <blockquote>
                        <p>Scholar computing teacher</p>
                        <footer>2010 <cite><abbr title="'Els safaretjos' Civic center" class="initialism">Centre civic "Els Safaretjos"</abbr></cite></footer>
                    </blockquote>

                    <blockquote>
                        <p>Scholar software developer</p>
                        <footer>2012 <cite><abbr title="Santa Coloma de Gramanet City Hall" class="initialism">L'ajuntament Santa Coloma de Gramanet</abbr></cite></footer>
                    </blockquote>

                    <blockquote>
                        <p>Junior software developer</p>
                        <footer>2015-Actuality <cite>GFT Technologies SE</cite></footer>
                    </blockquote>
                </accordion-group>

                <accordion-group heading="Myself">
                    <p>I'm a 22 years old guy, from Barcelona outskirts, Spain. I love to travel, especially to Aragon Highs, where I spend a lot of time relaxing myself. I'm an art lover, I love good books, especially Poetry books.</p>
                    <p>
                        I'm constantly developing software, but I'm not that type of guy that is 24/7 in his room with the windows down. I like to go outside with my friends, just chill arround my city, go to the club or something. I like to skateboard too, it's my principal hobby but I dont think its important for now.
                    </p>

                    <p>I also love to travel. Yes, so typical, but I think when I say I love to travel to High Aragon (Alto Aragón) people goes crazy.</p>
                </accordion-group>

                <accordion-group heading="Past projects">
                    <dl>
                        <dt>Attendance Manager (<a href="https://github.com/uripro1/AttendanceManager">Plain HTML/JS</a>/<a href="https://github.com/uripro1/amnodejs">NodeJS</a>)</dt>
                        <dd>A simple HTML/JS attendance manager for the Synthesis credit of one of my professional training courses. Changed to NodeJS after an early develop. Unfinished.</dd>
                    </dl>
                </accordion-group>
            </accordion>
        </div>
    </div>
  </div>

   <div class="text-center">
    <p><b> Oriol Albareda portfolio. </b></p>
     <p>2015 - <a href="mailto:oriolalbareda@gmail.com">OriolAlbareda@gmail.com</a></p>
  </div>
      <div class="text-center col-md-4 col-md-offset-4">

        <ul class="list-inline">
            <li><a angular-ripple href="https://github.com/uripro1">Github</a>
            </li>
            <li><a angular-ripple href="#">Twitter</a>
            </li>
            <li><a angular-ripple href="http://facebook.com/urisntk">Facebook</a>
            </li>
            <li><a angular-ripple href="https://es.linkedin.com/pub/oriol-albareda-comino/104/284/865">LinkedIn</a>
            </li>
        </ul>
    </div>
</div>
